<%- include('./../includes/head.ejs'); %>
        <title><%= pageTitle %></title>
    </head>
    <body>
        <h1>Admin Add Image</h1>
        <%- include('../includes/navigation.ejs'); %>
        <form action="/admin/upload" enctype="multipart/form-data" method="POST">
            <input type="file" name="image">
            <input type="submit" value="Upload">
        </form>
    </body>
</html>
