<%- include('./../includes/head.ejs'); %>
        <title><%= pageTitle %></title>
    </head>
    <body>
        <h1>Admin Dashboard</h1>
        <%- include('../includes/navigation.ejs'); %>
        <main class="main">
            <div class="main__sidebar">
                <%- include('../includes/menu.ejs'); %>
            </div>
            <div class="main__content"></div>
        </main>
    </body>
</html>
