<%- include('./../includes/head.ejs'); %>
        <title><%= pageTitle %></title>
    </head>
    <body>
        <h1>Admin Write Projects API</h1>
        <%- include('../includes/navigation.ejs'); %>
    </body>
</html>
