<%- include('./../includes/head.ejs'); %>
        <title><%= pageTitle %></title>
    </head>
    <body>
        <main class="main">
            <div class="main__container-title">
                <h1 class="body-1">Admin List Images</h1>
            </div>
            <div class="main__container-sidebar">
                <%- include('../includes/menu.ejs'); %>
            </div>
            <div class="main__container-content">
                <% for (let i = 0; i < fileImages.length; i++) { %>
                    <p class="body-3"><%= fileImages[i]; %></p>
                <% } %>
            </div>
        </main>
    </body>
</html>
