.carousel-infinite {
    overflow: hidden;
    margin: 10rem auto;

    &__container {
        position: relative;
        width: 100vw;
        height: 20rem;
        overflow-x: hidden;
        border: 1px solid #f00;
    }

    &__scroll-wrapper {
        width: inherit;
        height: inherit;
        position: absolute;
        left: 0%;
        top: 0%;
        animation: primary 10s linear infinite;
    }

    &__item {
        width: 10rem;
        height: 10rem;
        border: 1px solid #f00;
    }
}

@keyframes primary {

    from {
        left: 0%;
    }

    to {
        left: -100%;
    }

}
