.nav {
    text-align: center;
    padding: 2rem 0;
    border: 1px solid #f00;

    &__menu {
        list-style-type: none;
    }

    &__menu-item {
        display: inline;
        padding: 1rem;
    }

}
