<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
    </head>
    <body>
        <h1>Admin Form Projects API</h1>
        <ul>
            <li><a href="/admin/dashboard">Admin Dashboard</a></li>
            <li><a href="/admin/read-projects-api">Admin Read Projects API</a></li>
            <!-- <li><a href="/admin/write-projects-api">Admin Write Projects API</a></li> -->
            <li><a href="/admin/form-projects-api">Admin Form Projects API</a></li>
        </ul>
        <form action="/admin/write-projects-api" method="POST">
            <label for="projectsApi">Projects API</label>
            <br />
            <!-- <input id="projectsApi" name="projectsApi" type="text" /> -->
            <textarea id="projectsApi" name="projectsApi" cols="30" rows="10"></textarea>
            <br />
            <input type="submit" value="submit" />
        </form>
    </body>
</html>
