<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
    </head>
    <body>
        <h1>Admin List Images</h1>
        <%- include('./includes/navigation.ejs'); %>
        <div>
            <% for (let i = 0; i < fileImages.length; i++) { %>
                <p><%= fileImages[i]; %></p>
                <!-- <img src="<%= fileImages[i]; %>" alt=""> -->
            <% } %>
        </div>
    </body>
</html>
