<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
    </head>
    <body>
        <h1>Admin Dashboard</h1>
        <ul>
            <li><a href="/admin/dashboard">Admin Dashboard</a></li>
            <li><a href="/admin/read-projects-api">Admin Read Projects API</a></li>
            <li><a href="/admin/write-projects-api">Admin Write Projects API</a></li>
        </ul>
    </body>
</html>
