<%- include('./includes/head.ejs'); %>
        <title><%= pageTitle %></title>
    </head>
    <body>
        <h1>Login</h1>
        <section>
            <form action="/login-validation" method="POST">
                <div>
                    <input type="email" name="email" />
                    <input type="password" name="password" />
                    <input type="submit" value="Login" />
                </div>
            </form>
        </section>
    </body>
</html>
