<section class="menu">
    <div class="menu__container-single">
        <a class="body-3 link-no-style" href="/">Home</a>
    </div>
    <div class="menu__container-single">
        <a class="body-3 link-no-style" href="/login">Login</a>
    </div>
    <div class="menu__container-single">
        <a class="body-3 link-no-style" href="/admin/dashboard">Admin Dashboard</a>
    </div>
    <div class="menu__container-single">
        <a class="body-3 link-no-style" href="/admin/read-projects-api">Admin Read Projects API</a>
    </div>
    <div class="menu__container-single">
        <a class="body-3 link-no-style" href="/admin/form-projects-api">Admin Form Projects API</a>
    </div>
    <div class="menu__container-single">
        <a class="body-3 link-no-style" href="/admin/add-image">Admin Add Image</a>
    </div>
    <div class="menu__container-single">
        <a class="body-3 link-no-style" href="/admin/list-images">Admin List Image</a>
    </div>
</section>
