<ul>
    <li><a href="/admin/dashboard">Admin Dashboard</a></li>
    <li><a href="/admin/read-projects-api">Admin Read Projects API</a></li>
    <li><a href="/admin/form-projects-api">Admin Form Projects API</a></li>
    <li><a href="/admin/add-image">Admin Add Image</a></li>
</ul>