// Colors
$black: #000;
$black-dark: #222;
$black-javascript: #323330;
$blue: #2B283B;
$blue-dark: #123456;
$blue-css: #264de4;
$blue-mysql: #00758f;
$blue-react: #61DBFB;
$blue-wordpress: #00749C;
$green-node: #3c873a;
$pink-sass: #CD6799;
$purple-php: #484C89;
$red-html: #e34c26;
$white: #fff;
$white-light: #F7F7F7;
$yellow: #EAB95B;
$yellow-light: #FFFF9C;
$yellow-javascript: #f0db4f;
